<div class="dashboard-container">
  <header class="dashboard-header">
    <div class="title-container">
      <span class="icon">📇</span>
      <h1>Contactos</h1>
      <!-- <button class="back-link" (click)="recoverContacts()">recuperar contactos</button> -->
    </div>
  </header>

  <div class="divider"></div>

  <section class="toolbar">
    <div class="search-container">
      <input
        type="text"
        placeholder="Buscar contacto..."
        [value]="searchTerm()"
        (input)="searchTerm.set($any($event.target).value)"
      />

      @if (filteredContacts().length > 0) {
        <div class="autocomplete-dropdown">
          @for (contact of filteredContacts(); track contact.id) {
            <div class="autocomplete-item" (click)="selectContact(contact)">
              <strong>{{ contact.name }}</strong>

              <small>{{ contact.email }}</small>
            </div>
          }
        </div>
      }
    </div>
    <button routerLink="/contacts/new" class="create-link">
      <span>+</span>
      <span>Crear contacto</span>
    </button>
  </section>

  <section class="accordion-container">
    @for (letter of letters; track letter) {
      <div class="accordion-item" [class.expanded]="openedLetter === letter">
        <button class="accordion-header" (click)="toggleAccordion(letter)">
          <div class="accordion-title">
            <div
              class="letter-badge"
              [matBadge]="contactsByLetter[letter].length"
              [matBadgeHidden]="contactsByLetter[letter].length === 0"
              matBadgeColor="warn"
            >
              {{ letter }}
            </div>

            <!-- <span>
              <mat-icon
                class="contact-icon"
                [matBadge]="contactsByLetter[letter].length"
                [matBadgeHidden]="contactsByLetter[letter].length === 0"
                matBadgeColor="warn"
              >
                account_circle
              </mat-icon>
            </span> -->
          </div>

          <span class="accordion-icon">
            <mat-icon>
              {{ openedLetter === letter ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
            </mat-icon>
          </span>
        </button>

        @if (openedLetter === letter) {
          <div class="accordion-content">
            <div class="contacts-grid">
              @for (contact of contactsByLetter[letter]; track contact.id) {
                <article
                  class="contact-card"
                  [id]="'contact-' + contact.id"
                  [class.removing]="removingContactId === contact.id"
                >
                  <div class="card-header">
                    <h3>{{ contact.name }}</h3>

                    <mat-icon [matMenuTriggerFor]="contactMenu" class="menu-button">
                      more_vert
                    </mat-icon>

                    <mat-menu #contactMenu="matMenu" class="contact-menu">
                      <div class="menu-icons">
                        <mat-icon class="edit-icon" (click)="updateContact(contact.id)">
                          edit
                        </mat-icon>

                        <mat-icon class="delete-icon" (click)="deleteContact(contact.id)">
                          delete
                        </mat-icon>
                      </div>
                    </mat-menu>
                  </div>

                  <p>{{ contact.email }}</p>

                  <p>{{ contact.phone }}</p>
                </article>
              }
            </div>
          </div>
        }
      </div>
    }
  </section>
</div>
